@model Fall2015.Models.Student

@{
    ViewBag.Title = "Details";
}
<style>
    body {
        background-color: #f5f5dc;
    }
</style>

<div class="panel">
    <div class="panel-heading">
        <h2>Details</h2>
    </div>

    <div class="panel-body">

        <h4>Student</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Firstname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Firstname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Lastname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lastname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MobilePhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MobilePhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Competencies)
            </dt>

            <dd>
                <div>
                    @foreach (var competency in Model.Competencies)
                    {
                        <div>
                            @competency.CompetencyHeader.Name <span>-</span>
                            @competency.Name
                        </div>
                    }
                </div>
            </dd>

        </dl>
        <p>
            @Html.ActionLink("Edit", "Edit", new { studentId = Model.StudentId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>


    </div>

</div>

